@mixin font($alias, $name, $fw: normal, $fs: normal) {
  @font-face {
    font-family: $alias;
    // src: url("../fonts/roboto/" + $name + "/" + $name + ".otf");
    src: url("../fonts/mont/" + $name + "/" + $name + ".eot?#iefix") format("embedded-opentype"),
      url("../fonts/mont/" + $name + "/" + $name + ".woff") format("woff"),
    url("../fonts/mont/" + $name + "/" + $name + ".ttf") format("truetype");
    font-weight: $fw;
    font-style: $fs;
  }
}

@mixin MQ($canvas) {
	@if $canvas == XS {
		@media only screen and (min-width: $XS) { @content; } 
	}
	@if $canvas == S {
		@media only screen and (min-width: $S) { @content; } 
	}
	@else if $canvas == M {
		@media only screen and (min-width: $M) { @content; } 
	}
	@else if $canvas == L {
		@media only screen and (min-width: $L) { @content; } 
	}
	@else if $canvas == XL {
		@media only screen and (min-width: $XL) { @content; } 
	}
}