<div class="fixed-footer">
	<div class="container">
		<button class="btn btn-next">
			Next &#10095;
		</button>
		<div class="subtotal">
			Subtotal <span class="price">$0</span> <span class="num">0</span>
		</div>
	</div>
</div>

	<script src='js/vendor/jquery.min.js'></script>
	<script src='js/vendor/moment-with-locales.min.js'></script>
	<script src='js/vendor/bootstrap.min.js'></script>
	<script src='js/vendor/bootstrap-datetimepicker.min.js'></script>
	<script src='js/vendor/slick.min.js'></script>
	<script src='js/main.js'></script>
	
</body>
</html>
