	<footer class='footer'>
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<div class="nav-title">Company</div>
					<nav class='nav'>
						<a href="#">Why us</a>
						<a href="#">Pricing</a>
						<a href="#">Reviews</a>
					</nav>
				</div>

				<div class="col-sm-4">
					<div class="nav-title">Services</div>
					<nav class='nav'>
						<a href="#">Why us</a>
						<a href="#">Pricing</a>
						<a href="#">Reviews</a>
					</nav>
				</div>

				<div class="col-sm-4">
					<div class="nav-title">Contacts</div>
					<div class="contacts">
						<a href="tel: 1-888-888-8888 ">1-888-888-8888</a>
						<a href="mail:to">mail@magicstorage.ca</a>
					</div>
				</div>
			</div>

			<div class="copyright text-center">
				2019 &copy; All rights reserved
			</div>
		</div>
	</footer>

	<script src='js/vendor/jquery.min.js'></script>
	<script src='js/vendor/moment-with-locales.min.js'></script>
	<script src='js/vendor/bootstrap.min.js'></script>
	<script src='js/vendor/bootstrap-datetimepicker.min.js'></script>
	<script src='js/vendor/slick.min.js'></script>
	<script src='js/main.js'></script>


</body>
</html>
