<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Title</title>
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/bootstrap-datetimepicker.min.css">
	<link rel="stylesheet" href="css/slick.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>

	<header class='header header-steps'>
		<div class="container">
			<div class="wrap">
				<div class="navbar-header">
					<a class="navbar-brand" href="#"><img src="img/logo.png" alt=""> <img src="img/logo-small.png" alt="" class='logo-toggle'></a>
				</div>

				<ul class="steps">
					<li class='active'>Customize</li>
					<li>Appointment</li>
					<li class='done'>Billings</li>
					<li>Review</li>
				</ul>

				<div class="subtotal">
					Subtotal <span class="price">$39.75</span> <span class="num">4</span>
				</div>
			</div>
		</div>
	</header>
